body,button,input,select,textarea{font:100%/1 STHeitiSC,"Helvetica Neue",Helvetica,STHeiTi,"Microsoft YaHei";-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,article,aside,footer,header,hgroup,nav,section,menu{margin:0; padding:0;-webkit-text-size-adjust:none;font-size: 100%;}
em,i{font-style:normal;font-weight:normal;}
table{border-collapse: collapse; border-spacing: 0;}
li{list-style:none;}
img{border:0;}
strong, b{font-weight: normal;}
input,img{vertical-align:middle; outline-style: none;}
article,aside,footer,header,hgroup,nav,section,menu{display:block;}
*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box; margin:0; padding:0; -webkit-tap-highlight-color:rgba(255,0,0,0); outline:none}
a{text-decoration:none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); color: #535353;}
body{font-size:0.35rem;background: #F1F1F1; color:#333;min-width:8rem;-webkit-text-size-adjust: none;-webkit-tap-highlight-color:rgba(0,0,0,0.3);}
html,body{height:100%;/*overflow:hidden;*/}
.fl{float: left;}
.fr{float: right;}
.clearfix:before,.clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;overflow:hidden;}
.clearfix {zoom:1;}
.ellipsis{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}

.joke{margin-top:0.25rem;border-top:1px solid #E9E9E9;box-shadow:0 2px 2px 0 #DEDEDE;background:#FFF;}
.m-message-main .joke dt{padding:12px 15px 10px;overflow:hidden;}
.m-message-main .joke .m-j-state{padding: 10px 0;margin-top: 5px;background: #FAFAFA;border-top: 1px solid#E9E9E9;}
.m-message-main .joke p{line-height:0.4rem;font-size: 0.3rem;color:#969696;}
.m-message-main .joke .m-j-state p{padding-left:0.675rem;height: 0.4rem;line-height:0.4rem;font-size: 0.3rem;color:#969696;}
.m-j-state .m-j-state_1, .m-j-state .m-j-state_2, .m-j-state .m-j-state_3 {background: url(../images/user_icon.png) 0.2rem -7.275rem no-repeat;background-size:auto 12.5rem;}
.m-j-state .m-j-state_1{height:0.4rem;margin:0.2rem 0;color:#95B24F;background-position:0.2rem -7.675rem;}
.m-j-state .m-j-state_2 {color:#FE0000;}
.m-j-state .m-j-state_3 {color: #F39800;background-position:0.2rem -8.075rem;}

/*wrapper*/
.wrapper{position:absolute;z-index:1;top:0;bottom:0;left:0;width:100%;/*height:100%;overflow:hidden;*/}
.scroller{position:absolute;z-index:1;-webkit-tap-highlight-color: rgba(0,0,0,0);width:100%;-webkit-transform: translateZ(0);-moz-transform: translateZ(0);-ms-transform: translateZ(0);-o-transform: translateZ(0);transform: translateZ(0);-webkit-touch-callout: none;-webkit-user-select: none;-moz-user-select:none;-ms-user-select: none;user-select: none;-webkit-text-size-adjust: none;-moz-text-size-adjust: none;-ms-text-size-adjust: none;-o-text-size-adjust: none;text-size-adjust: none;-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;-ms-backface-visibility: hidden;backface-visibility: hidden;-webkit-perspective: 1000;-moz-perspective: 1000;-ms-perspective: 1000;perspective: 1000;}

.header{position:relative;height:1.125rem;line-height:0.725rem;padding:0.25rem;color:#fff;background:#FF7E69;}
.header h1{font-size:0.4rem;text-align:center;font-weight:100;}

.h-user,.h-goback,.h-publish,.h-submit,.h-home,.h-report{position:absolute;top:0.25rem;display:block;width:0.625rem;height:0.625rem;-webkit-transition:all .2s;transition:all .2s;background: url(../images/common_icon.png) no-repeat;background-size:auto 22.5rem;}
.h-user{right:0.25rem;}
.h-goback{left:0.25rem;background-position: 0 -1.275rem;}
.h-publish{right:0.25rem;background-position: 0 -15.475rem;}
.h-submit{right:0.25rem;width:auto;font-size:0.35rem;color:#fff;background:inherit;}
.h-home{background-position: 0 -21.825rem;}
.h-report{right:0.25rem;width:0.8rem;text-align:right;color:#FFEF83;background:inherit;}

.joke-wrap{position:relative;background:#FFF;width:100%;/*height:100%;overflow:hidden;*/}
#cd-menu-trigger{position:absolute;left:0.25rem;top:0.25rem;width:0.55rem;height:0.55rem;}
#cd-menu-trigger .cd-menu-icon{display:inline-block;position:absolute;left:50%;top:50%;bottom:auto;right:auto;-webkit-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);-o-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);width:0.45rem;height:0.05rem;background-color:#FFF;}
#cd-menu-trigger .cd-menu-icon::before,#cd-menu-trigger .cd-menu-icon:after{content:'';width:100%;height:100%;position:absolute;background-color:inherit;left:0;-webkit-transform:translateZ(0);-webkit-backface-visibility:hidden;}
#cd-menu-trigger .cd-menu-icon::before{bottom:0.19rem;}
#cd-menu-trigger .cd-menu-icon::after{top:0.17rem;}
#cd-menu-trigger.is-clicked .cd-menu-icon{background-color:rgba(255,255,255,0);}
#cd-menu-trigger.is-clicked .cd-menu-icon::before,#cd-menu-trigger.is-clicked .cd-menu-icon::after{background-color:white;}
#cd-menu-trigger.is-clicked .cd-menu-icon::before{bottom:0;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
#cd-menu-trigger.is-clicked .cd-menu-icon::after{top:0;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);}

/*菜单*/
.menu-nav{position:absolute;top:0;bottom:1.125rem;z-index:0;width:2.5rem;height:100%;opacity:0;overflow:hidden;background:#fff;}
.menu-nav.animate{opacity:1}
.menu-nav ul li {height:1rem;line-height:1rem;text-align:left;padding-left:0.15rem;border-bottom:1px solid #e9e9e9;}


.menu-nav li a{margin:0;display:block;width:100%;height:100%;text-indent:0.675rem;color:#777;background:url(../images/common_icon.png) 0 -1.9rem no-repeat;background-size:auto 22.5rem}
.menu-nav li:nth-child(2) a{background-position:0 -2.8rem}
.menu-nav li:nth-child(3) a{background-position:0 -3.6rem}
.menu-nav li:nth-child(4) a{background-position:0 -4.4rem}
.menu-nav li:nth-child(5) a{background-position:0 -5.2rem}
.menu-nav li:nth-child(6) a{background-position:0 -6.1rem}
.menu-nav li:nth-child(7) a{background-position:0 -6.96rem}
.menu-nav li:nth-child(8) a{background-position:0 -7.8rem}

/*信息提示*/
#xjTips{position:fixed;left:50%;z-index:1000000;width:6.25rem;box-shadow:0rem 0rem 6px #999;line-height:0.75rem;padding:0.25rem 0.25rem;border-radius:4px;text-align:center;margin:0 auto;}
#xjTips p{filter:alpha(opacity=100);-moz-opacity:1;opacity:1;}

/*loading*/
.loading {position: fixed;top: 0;left: 0;bottom: 0;right: 0;z-index: 10000;background-color: transparent}
.loading_inner {text-align: center;background-color: rgba(0, 0, 0, 0.6);color: #fff;position: fixed;top: 40%;left: 50%;margin-left: -70px;margin-top: -48px;width: 140px;border-radius: 6px;font-size: 14px;padding: 58px 0 10px 0;filter: alpha(opacity =   60);}
.loading_icon {position: absolute;top: 15px;left: 50%;margin-left: -16px;width: 30px;height: 30px;border: 2px solid #fff;border-radius: 30px;-webkit-animation: gif 1s infinite linear;animation: gif 1s infinite linear;clip: rect(0, auto, 15px, 0)}
@keyframes gif { 
	0%{ transform: rotate(0deg); }
	100%{ transform: rotate(360deg); }
}
@-webkit-keyframes gif { 
	0%{	-webkit-transform: rotate(0deg);}
	100%{ -webkit-transform: rotate(360deg);}
}


/*
笑话列表
*/
.joke-list{background:#fff;box-shadow:0 2px 2px 0 #dedede;}
.joke-list li{clear:both;overflow:hidden;display: table;width:100%;border-bottom:1px solid #F7F3F3;}
/*播放gif*/
.gif-play-btn {position: relative;z-index: 1;}
.gif-play-btn span{position:absolute;top:40%;left:42%;display:inline-block;width:1.5rem;height:1.75rem;line-height:3rem;overflow:hidden;font-size:0.35rem;color:#FFF;text-align:center;background:url(../images/play_icon.png) 0.125rem 0 no-repeat;background-size:2.25rem auto;}
/*用户信息*/
.u-info{padding:0.3rem 0.375rem 0.25rem;overflow:hidden}
.j-u-avatar{float:left;width:1rem;height:100%;margin-right:0.175rem;}
.j-u-avatar img{width:100%;height:1rem; border-radius:50%}
.j-u-name{height:0.45rem;line-height:0.45rem;overflow:hidden}
.j-title{display:table-cell;line-height:0.6rem;padding-right:0.125rem}
.j-u-name a{font-size:0.35rem;color:#999;}
.j-title a{font-size:0.4rem;color:#333;}
/*笑话内容*/
.j-content{padding:0 0.375rem;line-height:0.55rem;word-break:break-all;}
.j-content img{margin-top:0.125rem;width:100%;text-align:center;}
.gif-play-btn{text-align:center;}
/*打赏*/
.j-access-score{padding:0 0.375rem;overflow:hidden;font-size:0.3rem;height:0.95rem;line-height:0.95rem;color:#999}
.j-access-score a{height:0.35rem;line-height:0.35rem;margin-top:0.3rem;float:left;color:#88cbea;margin-right:0.25rem;}
/*顶踩分享*/
.j-vote{clear:both;overflow:hidden;height:0.95rem;margin-top:0.125rem;background:#fafafa;border-top:1px solid #e9e9e9;}
.j-vote a{float:left;height:100%;width:25%}
.j-vote a i{display:block;margin:0.25rem auto 0;color:#999;font-size:0.3rem;padding-left:0.575rem;font-style:normal;width:0.45rem;height:0.45rem;line-height:0.45rem;background:url(../images/common_icon.png) no-repeat;background-size:auto 22.5rem}
.j-vote a span{display:block;width:100%;height:0.5rem;line-height:0.5rem;text-align:center;font-size:0.3rem;color:#999}

.j-vote .j-gooded i, .j-vote .j-good:hover i {background-position: 0 -18.35rem;color: #FF845B;}
.j-vote .j-baded i, .j-vote .j-bad:hover i {background-position: 0 -18.89rem;color: #88CBEA;}
.j-vote .j-good i{background-position:0 -11.86rem}
.j-vote .j-bad i{background-position:0 -12.40rem}
.j-vote .j-comment i{background-position:0 -12.9rem}
.j-vote .j-share i{background-position:0 -13.4rem;}

.dialogBg{display:none;width:100%;height:100%;background:#000;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;position:fixed;top:0;left:0;}
/*分享模块 -开始*/
.xj-share{display:none;background:#fff;overflow:hidden;width:100%;padding-bottom:0.25rem;border-radius:4px}
.xj-share dt{font-size:0.4rem;text-align:center;height:1.1rem;line-height:1.1rem}
.xj-share .share-channel{overflow:hidden}
.share-channel a{float:left;width:25%;height:2.1rem;}
.share-channel span{display:block;width:1.325rem;height:1.325rem;padding-top:0.225rem;border-radius:50%;margin:0 auto;background:#88cbea}
.share-channel i{display:block;width:0.95rem;height:0.85rem;margin:0 auto;background:url(../images/share_icon.png) no-repeat;background-size:auto 1.25rem}
.share-channel p{text-align:center;color:#333;font-size:0.35rem;height:0.65rem;line-height:0.65rem;}
.share-channel .s-tsina span{background:#ff7777}
.share-channel .s-tsina i{background-position:-0.975rem 0}
.share-channel .s-weixin span{background:#88cc56}
.share-channel .s-weixin i{background-position:-1.925rem 0}
.share-channel .s-tqq span{background:#33c4ff}
.share-channel .s-tqq i{background-position:-2.925rem 0}
.share-channel .s-qzone span{background:#f874a5}
.share-channel .s-qzone i{background-position:-3.875rem 0}
.share-channel .s-sweixin span{background:#88cc56}
.share-channel .s-sweixin i{background-position:-4.825rem 0}
.share-channel .s-sms span{background:#52cac7}
.share-channel .s-sms i{background-position:-5.775rem 0}
.share-channel .s-copy span{background:#0293cf}
.share-channel .s-copy i{background-position:-6.725rem 0}
.share-close{border:1px solid #dbdbdb;background:#f6f6f6;height:1.1rem;margin:0.25rem 0.175rem 0}
.share-close a{display:block;width:100%;height:100%;text-align:center;line-height:1.1rem;color:#333;}
/*分享模块 -结束*/


/*详细页*/
.joke-view{box-shadow:0 2px 2px 0 #DEDEDE;background:#fff;}
.j-v-page{/*height:1.25rem;*/margin-top:0.25rem;text-align:center}
.j-v-page-bottom{background:#fff;padding:0.25rem 0;box-shadow:0 2px 2px 0 #dedede}
.j-v-page a{display:inline-block;height:1.25rem;background:url(../images/page_icon_old.png) no-repeat;background-size:auto 2.5rem}
.j-v-page .j-v-before{width:2.5rem;background-position:-0.125rem 0}
.j-v-page .j-v-before:hover{width:2.5rem;background-position:-0.25rem 0}
.j-v-page .j-v-after{width:4.8rem;background-position:-2.875rem 0}
.j-v-page .j-v-after:hover{width:4.8rem;background-position:-2.725rem -1.25rem}

/*图片推荐*/
.joke-recom{width:100%%;padding:0.25rem 0 0 4.7%;margin-bottom:0.25rem;border-top:1px solid #e9e9e9;box-shadow:0 2px 2px 0 #dedede;background:#fff;overflow:hidden}
.joke-recom li{float:left;width:45%;margin:0 5% 0.2rem 0}
.joke-recom li img{width:100%;height:auto}
.joke-recom li p{height:0.5rem;line-height:0.5rem;font-size:0.35rem;text-align:center;overflow:hidden}

/*评论*/
.joke-comment{overflow:hidden;margin-top:0.25rem;padding-bottom:0.1rem}
.joke-nologin{display:block;width:7.5rem;margin:0 auto;height:0.775rem;text-align:center;color:#fff;line-height:0.8rem;background:#04ce9b;border:none;border-radius:17px;box-shadow:0 3px 0 0 #01b688;}
.joke-form{margin-top:0.2rem;}
.joke-form form{background:#fff;margin:0 0.175rem;height:0.85rem;overflow:hidden;border:1px solid #e2e2e2;border-radius:17px}
.joke-c-text{float:left;margin-left:0.425rem;width:68%;border:none;color:#999;line-height:0.85rem;height:0.85rem;font-size:0.3rem;}
.joke-c-submit{float:right;height:0.775rem;text-align:center;color:#fff;line-height:0.75rem;width:2rem;background:#04ce9b;border:none;border-radius:17px;box-shadow:0 3px 0 0 #01b688;}
.joke-c-list{box-shadow:0 2px 2px 0 #dedede;}
.joke-c-list dt{height:0.875rem;line-height:0.95rem;margin-left:0.375rem;border-bottom:1px solid #e9e9e9;color:#999;font-size:0.35rem}
.joke-c-list dd{background:#fff;padding:0.125rem 0;border-bottom:1px solid #e9e9e9}
.joke-c-list dd:last-child{border-bottom:none}
.joke-c-list dd.nocomment{color:#999;font-size:0.35rem;text-align:center;padding:0.375rem 0}

.c-l-user{height:0.75rem;line-height:0.75rem;overflow:hidden;margin:0 0.375rem;}
.c-u-avatar{float:left;width:0.75rem;height:0.75rem;margin-right:0.25rem;}
.c-u-avatar img{width:0.75rem;height:0.75rem;border-radius:50%}
.c-u-name{font-size:0.35rem;color:#999;float:left}
.c-good,.c-gooded{float:right;color:#999;min-width:0.45rem;height:0.45rem;line-height:0.45rem;margin-top:0.15rem;text-indent:0.55rem;background:url(../images/common_icon.png) 0 -11.85rem no-repeat;background-size:auto 22.5rem}
.c-good:hover,.c-gooded{background-position:0 -18.325rem;color:#f90}

.c-l-content{margin:0 1.375rem;line-height:0.6rem;font-size:0.35rem;word-break:break-all}

/*登录*/
.fast-login{margin:0.75rem 0 0.5rem}
.fast-login dt{margin:0 1.25rem 0.375rem}
.fast-login dt span{color:#999;display:block;height:0.5rem;line-height:0.5rem;width:2.5rem;text-align:center;margin:-0.325rem auto 0;background:#f1f1f1}
.fast-login dt hr{margin:0;height:0.025rem;border:none;border-top:0.025rem solid #bdbdbd;}
.f-l-login{margin:0 0.25rem;text-align:center}
.f-l-login a{float:none;display:inline-block}
.f-l-login p{color:#999}
.f-l-login span{width:1.375rem;height:1.375rem;}

/*登录、注册 -开始*/
.p-login{margin:0 0.25rem;}
.p-login ul{width:100%;}
.p-login li{height:1.125rem;line-height:1.125rem;margin-top:0.025rem}
.p-login input{width:85%;height:0.45rem;line-height:0.45rem;padding:0.3rem 0;border:none;color:#c6c6c6;font-size:0.4rem}
.p-login .l-submit{display:block;width:100%;height:1rem;line-height:1rem;padding:0;text-align:center;}
.l-username , .l-password , .l-passconf, .r-email{box-shadow:0 2px 2px 0 #dedede;background:url(../images/user_icon.png) #fff 0.275rem -9.7rem no-repeat;background-size:auto 12.5rem;text-indent:1.05rem;}
.l-password , .l-passconf{background-position:0.325rem -10.6rem}
.r-email{background-position:0.275rem -8.9rem}
.p-login .l-message{height:0.5rem;line-height:0.75rem;text-indent:0.275rem;color:#fff}
.p-login .l-submit{background:#04ce9b;color:#fff;border:none}
.p-login a{float:left;color:#ff7e69}
.p-login .l-back-password{float:right;height:1.75rem}
.p-login .r-gender{height:1.75rem;position:relative;margin:0.25rem 0;}
.gender-female , .gender-male{width:50%; position:relative; z-index:1;background-color:#f1f1f1}
.gender-female span , .gender-male span{display:block;color:#999;width:1.4rem;height:1.75rem;text-align:center;line-height:3.25rem;background:url(../images/register_gender_avatar.png) no-repeat; background-size:auto 1.375rem}
.gender-female span{float:right;margin-right:0.5rem}
.gender-male span{margin-left:0.5rem;background-position:-1.4rem 0}

.gender-female span.hover{background-position:-2.8rem 0;color:#ea689f}
.gender-male span.hover{background-position:-4.16rem 0;color:#00b7ee}

.gender{background:none;position:absolute;z-index:0;top:0;left:0;}

.register-success{padding-top:1.25rem;margin:0 auto;text-align:center;color:#333;font-size:0.3rem;line-height:0.5rem}
.register-success dt{font-size:0.4rem;color:#ff7e69;margin-bottom:0.25rem}
.register-success dd a{display:block;background:#04ce9b;width:7.5rem;height:1.125rem;margin:0.25rem auto;color:#fff;text-align:center;font-size:0.4rem;line-height:1.125rem}
.perfect_username{padding-top:0.625rem}
/*登录、注册 -结束*/


/*个人中心*/
.my-header {background: #FFF;}
.h-u-info{clear:both;overflow:hidden;width:7.5rem;height:2.5rem;margin:0 auto;padding:0.375rem 0;background:#fff;}
.h-u-info-avatar , .h-u-info-avatar img , .h-u-info-avatar i{position:absolute;display:block;width:1.875rem;height:1.875rem;border-radius:50%;}
.h-u-info-avatar{float:left;position:relative;margin-right:0.375rem;}
.h-u-info-avatar img{z-index:2;top:0;left:0}
.h-u-info-avatar i{width:1.875rem;height:1.875rem;z-index:3;border:3px solid #fff;top:0;left:0;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;}

.h-u-info-details{float:left;width:5.25rem;overflow:hidden}
.h-u-info-details dt{width:100%;height:0.9rem;line-height:0.9rem;}
.h-u-info-details dd{width:50%;float:left;height:0.5rem;line-height:0.5rem;font-size:0.3rem;color:#999}

.my-main{padding-bottom:1rem}
.my-main li{height:1.125rem;line-height:1.125rem;border-bottom:1px solid #ddd}
.my-main li:last-child{border-bottom:none}
.my-main li a{display:block;width:100%;height:100%;color:#333;}
.my-main li a:hover{background:#eee}
.my-main li span{display:block;float:left;height:100%;padding-left:1.4rem;background:url(../images/user_icon.png) 0.55rem 0 no-repeat;background-size:auto 12.5rem}
.my-main li em{margin:0.375rem 0 0 0.175rem;display:inline-block;float:left;height:0.4rem;padding:0 0.1rem;background:#ff5b36;font-size:0.25rem;color:#fff;font-style:normal;line-height:0.4rem;border-radius:0.2rem;}
.my-main li i{display:block;float:right;width:0.2rem;height:0.35rem;margin-right:0.45rem;margin-top:0.4rem;background:url(../images/user_icon.png) 0 -6.9rem no-repeat;background-size:auto 12.5rem}
.my-main .m-message span{background-position:0.55rem -0.775rem}
.my-main .m-publish span{background-position:0.55rem -1.575rem}
.my-main .m-collection span{background-position:0.55rem -2.4rem}
.my-main .m-gift span{background-position:0.55rem -3.25rem}
.my-main .m-task span{background-position:0.55rem -4.075rem}
.my-main .m-feedback span{background:url(../images/user_feedback_icon.png) 0.55rem 0.325rem no-repeat;background-size:auto 0.5rem}
.my-main .m-data span{background-position:0.55rem -4.925rem}
.my-main .m-exit span{background-position:0.55rem -5.8rem}
.my-main .m-lipin span{background:url(../images/user_lipin_icon.png) 0.55rem 0.325rem no-repeat;background-size:auto 0.55rem}
.my-main .m-at span{background:url(../images/user_at_icon.png) 0.55rem 0.325rem no-repeat;background-size:auto 0.55rem}


/*我的消息*/
.no-data-list{line-height:0.5rem;font-size:0.35rem;color:#999;text-align:center;padding-top:0.5rem}
.m-message-main ul{overflow:hidden;background:#fff;box-shadow:0 2px 2px 0 #dedede;}
.m-message-main li{line-height:0.5rem;padding:0.25rem 0.175rem;border-bottom:1px solid #e9e9e9;font-size:0.35rem;color:#666;}
.m-message-main li:last-child{border-bottom:none}
.m-message-main li a{color:#999;margin:0 0.125rem;text-decoration:underline}
.m-message-main li span{color:#ff845b}
.m-message-main li img{width:2rem;height:1.75rem;margin-top:0.125rem;display:block}

.m-message-main li .content-details-p{background:#f8f8f8;border:1px solid #f0f0f0;padding:0.125rem;line-height:0.6rem;margin-top:0.175rem}
.m-message-main li .reply-box{background:#f8f8f8;border:1px solid #f0f0f0;padding:0.125rem;line-height:0.6rem;margin-top:0.175rem;overflow:hidden}


/*修改资料 -开始*/
.edit-data-main{padding-bottom:0.25rem}
.edit-data-main ul{}
.edit-data-main li{line-height:1.125rem;height:1.125rem;border-bottom:1px solid #ddd;overflow:hidden}
.edit-data-main li:last-child{border-bottom:none}
.edit-data-main li a{display:block;width:100%;height:100%;color:#333;}
.edit-data-main li a:hover{background:#eee}
.edit-data-main li span{display:block;float:left;color:#333}
.edit-data-main li .e-d-span-left{width:2.125rem;margin-left:0.375rem;color:#999}
.edit-data-main li i{display:block;float:right;width:0.2rem;height:0.35rem;margin-right:0.45rem;margin-top:0.4rem;background:url(../images/user_icon.png) 0 -6.9rem no-repeat;background-size:auto 0.55rem}

.edit-data-main .e-d-avatar{height:2.375rem;line-height:2.375rem}
.edit-data-main .e-d-avatar i{margin-top:1.025rem}
.edit-data-main .e-d-avatar .e-d-span-left{margin:0.25rem 0.25rem 0 0.375rem;}
.edit-data-main .e-d-avatar .e-d-span-left , .edit-data-main .e-d-avatar img , .edit-data-main .e-d-avatar em{position:absolute;display:block;width:1.875rem;height:1.875rem;line-height:1.875rem;border-radius:50%}
.edit-data-main .e-d-avatar .e-d-span-left{position:relative}
.edit-data-main .e-d-avatar img{z-index:2;top:0;left:0}
.edit-data-main .e-d-avatar em{width:1.875rem;height:1.875rem;z-index:3;border:3px solid #fff;top:0;left:0;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;}

/*金币商城*/
.gift-tags{box-shadow:0 2px 2px #ddd;background:#f6f6f6;height:1rem;padding:0 0.175rem; position:relative}
.gift-tags li{width:33.3%;float:left;height:100%;line-height:1rem;text-align:center}
.gift-tags li a{display:block;width:100%;color:#999;height:1rem;border-bottom:3px solid #f6f6f6}
.gift-tags li a:hover , .gift-tags li a.hover{color:#333;border-color:#ff7e69}

.gift-list{clear:both;overflow: hidden;margin-top:0;border-top:none}
.gift-list li{clear:both;overflow: hidden;padding:0.25rem 0;background:#fff;border-bottom:1px solid #e9e9e9}
.gift-list li:last-child{border-bottom:none}
.gift-list li img{float:left;margin:0.25rem;width:2rem;height:2rem}
.gift-list li .gift-name , .gift-list li .gift-name a{color:#333;line-height:0.65rem;height:1.3rem;overflow:hidden}
.gift-list li .gift-score{color:#999;font-size:0.3rem;}
.gift-list li .gift-score span{color:#f20805;margin-right:0.05rem;font-size:0.45rem;line-height:0.7rem;height:0.7rem;overflow:hidden}
.gift-list li .gift-score a{display:inline-block;float:right;margin:0.025rem 0.25rem 0 0;border:1px solid #00b789;width:1.2rem;text-align:center;color:#00b789;font-size:0.35rem;line-height:0.6rem;height:0.6rem;overflow:hidden}
.gift-info{padding-top:0.375rem;color:#333;line-height:0.65rem;overflow:hidden}
.gift-info p{font-size:0.4rem}

/*商城详情页*/
.gift-img{padding:1rem;border-bottom:1px #e9e9e9 solid;}
.gift-img img{width:100%;margin:0 auto}
.gift-view{background:#fff;border-bottom:1px #e9e9e9 solid;}
.gift-title , .gift-change{clear:both;overflow:hidden;line-height:0.75rem;padding:0.175rem;border-bottom:1px #e9e9e9 solid;}
.gift-title{font-size:0.45rem;color:#333;text-align:center;overflow:hidden;display:block}
.gift-change .gift-mabi{float:left;font-size:0.3rem;color:#999;}
.gift-change .gift-mabi span{font-size:0.4rem;color:#ff7e69;margin-right:0.075rem;}
.gift-change .g-c-toExchange{display:block;float:right;height:0.75rem;line-height:0.75rem;width:2.15rem;background:#ff7e69;font-size:0.35rem;color:#fff;text-align:center;border-radius:3px;}
.gift-change .g-c-toExchange:hover{background:#ef705c}
.gift-content{padding:0.325rem 0.175rem;}
.gift-content img{max-width:100%;margin:0 auto;}

/*确认兑换*/
.exchange-gift-number{overflow:hidden;margin-top:0.375rem}
.exchange-gift-number li{/*height:0.875rem;*/clear:both;overflow:hidden;padding:0.175rem 0;border-bottom:1px dashed #cbcbcb;color:#999;line-height:0.875rem;}
.exchange-gift-number li:last-child{border-bottom:none}
.gift-confirm{background:#fff;border-top:1px dashed #cbcbcb;margin-top:0;border-bottom:1px solid #cbcbcb;padding-bottom:0.375rem;}
.gift-confirm li{padding:0.375rem 0;border-bottom:1px dashed #cbcbcb;color:#999;line-height:0.5rem;overflow:hidden}
.gift-confirm li:last-child{border-bottom:none}
.gift-confirm .e-g-n-right{font-size:0.4rem}
#giftAddress{text-align:left}
.e-g-n-left{float:left;width:2.25rem;text-align:right}
.e-g-n-right{float:right;width:5.25rem;text-align:right;margin-right:0.25rem;font-size:0.3rem}
.e-g-n-right span{margin-right:0.125rem;font-size:0.4rem;color:#f20805}
.e-g-n-user-score span{color:#c56d5e}
.e-g-n-subtract, .e-g-n-add{cursor:pointer;background:#04ce9b;width:0.875rem;height:0.875rem;line-height:0.875rem;color:#fff;font-size:0.5rem;border:none;text-align:center; font-weight:bold}
.e-g-n-right .disable{background:#dbdbdb}
.e-g-n-right .gift-num{text-align:center;background:#fff;margin:0 0.25rem;height:0.825rem;width:1.5rem;border:1px solid #ddd;color:#999;font-size:0.4rem; font-weight:normal}
.gift-address{margin-top:0.125rem;border-top:none;padding-bottom:0.375rem}
.gift-address dt{background:#f1f1f1;height:1.1rem;line-height:1.1rem;text-indent:0.25rem;border-bottom:1px solid #e9e9e9}
.gift-address dd{margin:0.375rem 0.25rem;font-size:0.3rem;color:#999;}
.address-edit{border:1px solid #d2d2d2;width:31%;height:0.85rem;float:left;margin-right:0.25rem;margin-bottom:0.375rem;overflow:hidden; position:relative;z-index:3}
.address-edit select{height:0.85rem;line-height:0.85rem;border:none;background:none;width:100%;padding-left:0.075rem; position:absolute;z-index:2;color:#999}
.address-edit i{height:0.125rem;width:0.25rem;position:absolute;z-index:4;right:0.125rem;top:0.375rem;background:url(../images/arrow.png) no-repeat;background-size:auto 0.125rem}
.address-edit-county{margin-right:0}
.gift-address .title{font-size:0.45rem;color:#333}
.gift-address p span{color:#c56d5e}
#gift_box_2{display:none}
.g_input_text{border:1px solid #d2d2d2;height:0.85rem;width:100%;padding-left:0.125rem;color:#333;font-size:0.35rem}
.g_input_text::-webkit-input-placeholder{color:#c6c6c6}
.g_input_text:-moz-placeholder{color:#c6c6c6}
.g_input_text::-moz-placeholder{color:#c6c6c6}
.g_input_text:-ms-input-placeholder{color:#c6c6c6}

.g_submit{margin:0 auto;display:block;background:#ff7e69;width:100%;height:0.85rem;line-height:0.85rem;text-align:center;color:#fff;font-size:0.4rem;border:none;}

/*反馈意见 举报中心*/
.main-fankui{margin:0 0.25rem;}
.main-fankui ul{width:100%;}
.main-fankui input , .main-fankui button{width:100%;height:100%;border:none;color:#c6c6c6;font-size:0.4rem}
.main-fankui .l-submit{display:block;background:#04ce9b;color:#fff;width:100%;height:1rem;line-height:1rem;padding:0;text-align:center;}
.main-fankui{padding-top:0.5rem}
.main-fankui li{position:relative;margin-top:0.25rem;height:auto;line-height:inherit}
.main-fankui input , .main-fankui textarea{height:1.125rem;text-indent:0.2rem;border: 1px solid #D4D4D4;font-size:0.4rem;}
.main-fankui textarea{width:100%;height:2.5rem;line-height:0.65rem;overflow:hidden}
#vcode{position:absolute;top:0.3rem;right:0.1rem;width:1.6rem;height:0.6rem;}

/*投稿*/
.publish-main{margin:0.25rem 0.175rem 0}
.publish-main ul{width:100%}
.publish-main li{width:100%;margin-top:0.25rem;}
.publish-success{padding-top:1.25rem;width:8rem;margin:0 auto;text-align:center;color:#333;font-size:0.3rem;line-height:0.5rem}
.publish-success dt{margin-bottom:0.5rem}
.publish-success dt span{display:block;width:1.325rem;height:1.325rem;margin:0 auto;background:url(../images/audit.png) 0 -1.425rem no-repeat; background-size:auto 1.55rem}
.publish-success dt p{font-size:0.4rem;color:#b3d465;margin:0.25rem 0}
.publish-success dd.p-go-index{margin-top:0.75rem;}
.publish-success dd.p-go-index a{font-size:0.4rem;display:inline-block; border-radius:4px;width:2.25rem;height:0.7rem;line-height:0.7rem;text-align:center;background:#f8f8f8;color:#ff7e69;border:1px solid #e7e7e7}
.publish-success dd.p-go-index a:nth-child(1){margin-right:0.75rem}
.p-j-title{background:#fff;margin:0 auto;width:100%;}
.p-j-title input{height:0.45rem;padding:0.5rem 0;padding-left:0.125rem;width:100%;font-size:0.3rem;color:#333;border: 1px solid #D4D4D4;}

.publish-main input::-webkit-input-placeholder, .publish-main textarea::-webkit-input-placeholder {color:#c6c6c6}
.publish-main input:-moz-placeholder, .publish-main textarea:-moz-placeholder {color:#c6c6c6}
.publish-main input::-moz-placeholder, .publish-main textarea::-moz-placeholder {color:#c6c6c6}
.publish-main input:-ms-input-placeholder, .publish-main textarea:-ms-input-placeholder {color:#c6c6c6}
.p-j-pic-box{position:relative}
.p-j-pic-text{float:left;border:none;height:1.1rem;color:#333;line-height:0.45rem;font-size:0.4rem;width:78%;text-indent:0.125rem;padding:0.3rem 0;box-shadow:0 2px 2px 0 #dedede;}
.p-j-pic-btn{float:right;width:20%;display:block;height:1.125rem;line-height:1.125rem;background:#88cbea}
.p-j-pic-btn i{display:block;width:0.75rem;height:0.575rem;margin:0.275rem auto;background:url(../images/audit.png) 0 -0.65rem no-repeat;background-size:auto 2.75rem;}
.p-j-pic-file{position:absolute;top:0;left:0;height:100%;filter:alpha(opacity:0);opacity: 0;width:100% }
/*.ajax-file-upload{height:1.1rem;width:100%;position:absolute !important;top:0;left:0;}*/

.publish-main .p-j-content{background:#fff;width:100%;box-shadow:0 2px 2px 0 #dedede}
.p-j-content textarea{width:95%;height:90%;overflow:hidden;overflow-y:auto;padding:0.125rem;border:none;font-family:Microsoft Yahei,Helvetica,Arial;font-size:0.4rem;color:#333;line-height:0.5rem;}
.p-j-submit input{width:1.25rem;height:1.125rem;line-height:1.125rem;text-align:center;color:#fff;font-size:0.4rem;background:#ff7e69;position:absolute;top:0;right:0.175rem;border:none;}
.p-j-submit input:hover{background:#f7745f}
.p-j-submit img{width:0.45rem;height:0.45rem;position:absolute;top:0.325rem;right:0.4rem}

.publish-main .p-j-kept{height:0.5rem}
.p-j-kept dt{margin-bottom:0.25rem}
.p-j-kept dt i{display:block;margin-right:0.125rem;float:left;width:0.5rem;height:0.5rem;border:3px solid #e2e2e2;background:url(../images/audit.png) 24.975rem 0 no-repeat;background-size:auto 2.75rem}
.p-j-kept dt span{display:block;float:left;height:0.5rem;line-height:0.5rem;color:#999}
.p-j-kept dd{display:none;width:100%;overflow:hidden}
.p-j-kept a{width:50%;float:left;margin-top:0.25rem}
.p-j-kept a span{display:block;width:3.125rem;height:0.875rem;margin:0;text-indent:1rem;line-height:0.875rem;font-size:0.375rem;color:#999;background:url(../images/play_icon.png) #e9e9e9 -1.375rem 0 no-repeat;background-size:auto 1.75rem;border-radius:3px}
.p-j-kept a:hover span , .p-j-kept a.hover span{color:#fff;background-color:#ffc600;background-position:-1.375rem -0.925rem}

.publish-main .p-j-kept-hover{height:2.75rem}
.p-j-kept-hover dt i{border:none;width:0.5rem;height:0.5rem;background-position:-1.05rem -0.75rem;}
.p-j-kept-hover dt span{color:#ff7e69}
.p-j-kept-hover dd{display:block}
.publish-main .p-message{display:none;height:0.75rem;line-height:0.75rem;text-indent:0.275rem;color:#fff;background:#ff6c7d;margin-bottom:-0.25rem}


/*打赏*/
.j-maryane-box{width:100%}
.j-maryane-box dl{background:#fff;border-radius:4px}
.j-maryane-box dt{margin-bottom:0.25rem;width:8rem;margin:0 auto;font-size:0.4rem;color:#444;height:0.9rem;line-height:1.15rem;}
.j-maryane-box dt i{display:block;margin-top:-1.825rem;float:left;width:2.5rem;height:2.875rem;background:url(../images/maryane_avatar.png) no-repeat;background-size:auto 2.5rem}
.j-maryane-box dt span{float:left;}
.j-maryane-box dt em{margin:0 0.075rem}
.j-maryane-box dd{width:100%;overflow:hidden}
.j-maryane-box dd a{display:block;float:left;width:33.3%;margin-top:0.25rem}
.j-maryane-box dd p{text-align:center;line-height:0.7rem}
.j-maryane-box a span{display:block;width:2.25rem;height:0.875rem;margin:0 auto;text-indent:0.925rem;line-height:0.875rem;font-size:0.375rem;color:#999;background:url(../images/play_icon.png) #e9e9e9 -1.5rem 0 no-repeat;background-size:auto 1.8rem;border-radius:3px}
.j-maryane-box a.hover span{color:#fff;background-color:#ffc600;background-position:-1.5rem -1rem}
.j-maryane-box .j-m-message{height:0.6rem;line-height:0.6rem;text-align:center;overflow:hidden;color:#fd4949;font-size:0.3rem;}
.j-maryane-box .j-m-btn{padding-bottom:0.5rem;text-align:center;line-height:1rem}
.j-maryane-box input{border:none;border-radius:3px;width:3.5rem;height:1rem;color:#fff;font-size:0.4rem;cursor:pointer}
.j-maryane-box .maryane-submit{background:#ff845b;margin-right:0.25rem;text-align:center;}
.j-maryane-box .maryane-close{background:#9b7e56;}

/*包养*/
.j-kept-box{width:100%}
.j-kept-box .j-kept_1 , .j-kept-box .j-kept_2{height:1.25rem;width:100%;float:left;background:#fff}
.j-kept-box .j-kept_1 i , .j-kept-box .j-kept_2 i{display:block;width:6.9rem;height:3.625rem;margin:-2.375rem auto 0;background:url(../images/kept_avatar_1.png) no-repeat;background-size:auto 3.625rem}
.j-kept-box i.j-kept_2{width:7.125rem;background:url(../images/kept_avatar_2.png) no-repeat;background-size:7.125rem auto}
.j-k-content{height:2.1rem;float:left;width:100%;background:#fff}
.j-kept-box p{color:#333;line-height:1.5rem;text-align:center}
.j-kept-box .j-k-red{color:#ff4102;line-height:0.75rem;margin-top:0.2rem}
.j-kept-box .j-k-big{font-size:0.5rem;margin-top:0}
.j-kept-box .j-k-message{height:0.6rem;line-height:0.6rem;text-align:center;overflow:hidden;color:#fd4949;font-size:0.3rem;}
.j-kept-box .j-k-btn{float:left;background:#fff;width:100%;padding-bottom:0.5rem;text-align:center;line-height:1rem;border-bottom-left-radius:4px;border-bottom-right-radius:4px}
.j-kept-box input{border:none;border-radius:3px;width:3.375rem;height:1rem;color:#fff;font-size:0.4rem;cursor:pointer}
.j-kept-box .kept-submit{background:#ff845b;margin-right:0.25rem}
.j-kept-box .kept-close{background:#9b7e56;}
.j-kept-box .j-kept_1{border-top-left-radius:4px;border-top-right-radius:4px}

/*笑点*/
.main-tags ul{overflow:hidden;padding:0.1rem 0.175rem}
.main-tags li{float:left;margin-top:0.25rem;width:31%;height:1.125rem;line-height:1.125rem}
.main-tags li:nth-child(3n+2){width:32%;margin:0.25rem 3% 0}
.main-tags li a{display:block;width:100%;height:100%;background:#fff;color:#666;text-align:center;box-shadow:0 2px 2px 0 #dedede;}
.main-tags li a:hover,.main-tags li a.hover{background:#ffa688;color:#fff}

/*审稿*/
.audit-main{padding-bottom:1.125rem}
.audit-main .joke{border:none;box-shadow:none;background:inherit;}
.audit-main dt{font-size:0.45rem;color:#333;line-height:0.6rem;padding: 0 0.375rem;overflow:hidden}
.audit-main dd img{margin-top:0.125rem}
.audit-vote{position:fixed;bottom:0;left:0;width:100%;/*height:0.9rem;*/border-top:1px solid #e9e9e9;background:#fff;}
.audit-vote li{float:left;width:33%;height:100%;overflow:hidden;}
.audit-vote li a{display:block;width:100%;height:100%;padding:0.15rem 0;}
.audit-vote li i{display:block;margin:0 auto;width:0.5rem;height:0.5rem;background:url(../images/audit.png) no-repeat;background-size:auto 2.75rem}
.audit-vote li span{display:block;width:100%;height:0.5rem;line-height:0.5rem;color:#ffb400;font-size:0.3rem;text-align:center}

.audit-vote .audit-bad:hover , .audit-vote .audit-skip:hover{margin-left:-0.025rem}
.audit-vote .audit-bad i{background-position:-0.525rem 0}
.audit-vote .audit-bad span{color:#a17249}
.audit-vote .audit-skip{border:none}
.audit-vote .audit-skip i{background-position:-1.05rem 0}
.audit-vote .audit-skip span{color:#92bbd8}
.audit-main .no-joke{padding-top:0.875rem;text-align:center;line-height:0.5rem;color:#999;}
.audit-main .no-joke .title{margin-bottom:0.125rem}
.audit-main .no-joke a{color:#ff845b;margin:0 0.125rem}

.a-u-content{padding:0.5rem 0}
.a-u-content p{color:#666;font-size:0.35rem;text-align:center;line-height:0.5rem}
.a-u-content p.title{font-size:0.45rem;line-height:0.75rem;color:#ff4b2e}
.a-u-content a{display:block;margin:0.25rem auto 0;border:1px solid #dbdbdb;background:#f6f6f6;height:0.85rem;width:2.5rem;text-align:center;line-height:0.85rem;color:#333;}

#fileuploader{display:block;text-align:center;color:#FFF;padding:0.25rem;background:#81CEE0;}

/*分页*/
.j-page{margin-top:0.25rem;text-align:center}
.j-page a{background:#fff;color:#666;margin-right:0.125rem;font-size:0.3rem;display:inline-block;height:0.75rem;line-height:0.75rem;border-bottom:1px solid #e8e7e6;padding:0 0.3rem}
.j-page span{display:inline-block;margin-right:0.125rem}
.j-page a.j-page-next , .j-page a.j-page-next-a , .j-page a.j-p-loding{width:100%;padding:0;margin:0;height:1.125rem;line-height:1.125rem;border-bottom:none;font-size:0.4rem;color:#333;}
.j-page a:hover,.j-page a.hover{color:#fff;background:#ff845b}
.j-page a.j-p-loding:hover{color:#ff845b;background:#fff}
.j-page a.j-p-loding{color:#ff845b}
.j-page a i{margin-left:0.2rem}

.footer{height:1.5rem;padding:0.25rem 0;margin-top:1rem;}
.footer p{color:#999;text-align:center}
.footer p a{color:#ff7e69;text-align:center;display:block;width:100%;height:100%;height:0.75rem;line-height:0.75rem}