<a class="h-menu right" href="javascript:void(0);" rel="nofollow"><i></i></a>
<ul class="h-menu-list">
	<li><a class="newsjoke" href="/"><i></i>最新笑话</a></li>
	<li><a class="hotjoke" href="/hotjoke"><i></i>热门笑话</a></li>
	<li><a class="godreply" href="/godreply"><i></i>神&nbsp;&nbsp;回&nbsp;&nbsp;复</a></li>
	<li><a class="tagsfl" href="/tags"><i></i>笑点大全</a></li>
	<li><a class="followinfo" href="/user/followinfo"><i></i>好友动态</a></li>
	<li><a class="publish" href="/joke/publish/"><i></i>我要投稿</a></li>
	<li><a class="audit" href="/joke/audit/"><i></i>我要审稿</a></li>
	<li><a class="usercenter" href="/user"><i></i>个人中心</a></li>
</ul>